
* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {overflow-x:auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
*::-webkit-scrollbar{height:4px;width:4px;}
*::-webkit-scrollbar-thumb{background:#000;}